// styles.scss

.MT_g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  position: relative;
  /* Cambia la posici贸n a absoluta */
  top: -100px;
  /* Lo coloca en la mitad vertical de la pantalla */
  left: -5%;
  background-color: transparent;
  margin: 50px;

  .MT_img {
    position: relative;
    /* Cambia la posici贸n a absoluta */
    top: 50px;
    /* Posici贸n 20px por debajo de .MT_name */
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 150px;
      border-radius: 10px;
    }
  }

  .MT_name {
    background-color: #dbdbdb;
    width: 200px;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    //   position: relative; /* Cambia la posici贸n a relativa */
  }

  .MT_ramos {
    margin-block-start: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: #dbdbdb;
    border-radius: 10px;

    button {
      width: 150px;
      height: 50px;
      margin: 0 5px;
      border-radius: 10px;
      border: none;
      background: linear-gradient(60deg,#26c6da,#00acc1);
      margin-block-end: 10px;
      color: white;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background:#007a8e;
      }
    }
  }
}