.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-image: url('../assets/fondoUSM.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #5e5353;
    text-align: center;

    button {
        background-color: orange;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 15px; 

        &:hover {
            background-color: #ff8c00;
        }
    }
}


.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #fffafa;
    }

    input {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.password-help-text {
    margin-top: 20px;
    font-size: 12px;
    color: #d8d1d1;
    text-align: center;
}