// styles.scss
.title-postulantes{
    background-color: #666;  /* Grey background */
    color: #fff;  /* White text */
    padding: 5px 15px;  /* Some padding for space */
    position: absolute;  /* To position it slightly outside the .page */
    top: -15px;  /* Position it 15px above the top of .page */
    left: 20px;  /* Some space from the left */
    border-radius: 5px;  /* Rounded corners */
    font-weight: bold;  /* Bold font */
}
.postulantes {
    background-color: rgb(48, 48, 184); // Caja azul clara
    padding: 20px; // Espacio interno
    width: 900px;
    border-radius: 2ch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; // Espacio entre elementos

    position: center;
    align-items: center;
    top: 37%; 
    left: 50%; 
    transform: translateX(-50%); 

    /* Lo coloca 20px a la derecha del borde derecho de la pantalla */
    // transform: translateY(-50%);
    /* Corrige la posición vertical para centrarla */


    .postulante {
        background-color: rgb(156, 156, 156); // Caja de color naranja
        padding: 20px;
        display: flex; // Para alinear verticalmente el contenido
        border-radius: 2ch;
        margin-block-end: 20px;
        // width: 6;

        .imgPostu {
            padding: 10px; // Espacio interno
            align-items: center; // Centra verticalmente el contenido

            img {
                height: 100px; // Altura de la imagen
                border-radius: 10%;
            }
        }

        .info1 {
            width: 150px; // Ancho de 150px
            height: 150px; // Altura de 300px
            padding: 10px; // Espacio interno
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 0; // Elimina el margen predeterminado
            }
        }

        .info2g {
            align-items: center;
            display: flex;
            flex-direction: column; // Centra horizontalmente los elementos

            .info2 {
                display: flex; // Para alinear horizontalmente
                justify-content: space-between; // Espacio entre elementos

                .promedio,
                .VSA,
                .TipoPost {
                    flex: 1; // Para ocupar el espacio disponible
                    padding: 10px;
                    display: flex;
                    flex-direction: column; // Alinea los elementos verticalmente

                    h4 {
                        margin: 0;
                    }
                }
            }

            .buttons{
                display: flex;
                flex-direction: row; // Alinea los botones verticalmente
                justify-content: space-between;
                align-items: center;
                width: 200px;
                padding: 10px;
                margin-left: -10px;
                button {
                    width: calc(100% - 5px);
                    /* 50% de ancho con 5px de espacio entre botones */
                    height: 100px;
                    margin: 0 5px;
                    
                    /* Espacio horizontal entre botones */
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(48, 48, 184);
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(0, 0, 255);
                    }
                }
            }
        }
    }
}