.page {
  // background:;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  .Bar{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
  }
  .content{
    // background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
  }
}
