.nav-bar__link {
  display: inline-block;
  margin-right: 15px;
  padding: 16px 20px;
  background-color: rgb(34, 98, 216);
  color: white;
  text-decoration: none; 
  border-radius: 15px; 
  transition: all 1s ease;
  &--active {
    background: #7f00b2;
    color: white;
  
  }
  &:hover {
    background-color: #4a0072;
  }
}


.logout-button {
  background: linear-gradient(60deg,#26c6da,#00acc1);;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 220px;
  transition: background 0.3s ease;

  &:hover {
    background: #007a8e;
  }
}